@import "color.less";

main.content-container {
  flex-grow: 1;
  display: flex;
  &[data-error="true"] {
    display: none;
  }
  flex-direction: column;
  overflow-y: scroll;
  padding: 0 20%;
  padding-top: 50px;
  @media screen and (max-width: 768px) {
    padding-left: 10%;
    padding-right: 10%;
  }
}

section {
  color: @color-text;
  background-color: @color-bg;
  margin-bottom: 15px;
  border-radius: 2px;
}

@item-margin: 16px;

section.challenge {
  header {
    font-size: 3em;
    margin: @item-margin;
    word-break: break-word;
  }
  div.content {
    font-size: 1.25em;
    margin: @item-margin;
    word-break: break-word;
    overflow: hidden;
  }
  div.responses-container {
    display: flex;
    flex-direction: row;
    a.responses-more {
      align-self: center;
      text-align: center;
      margin-right: @item-margin;
    }
    span.no-responses {
      margin-left: @item-margin;
      font-size: 1.25em;
    }
  }
  footer {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: @item-margin;
    img.avatar {
      width: 48px;
      height: 48px;
      border-radius: 100%;
      margin-right: 8px;
    }
    a.author {
      font-size: 1em;
    }
    a.reply {
      padding: 8px;
      margin-left: auto;
      font-size: 2em;
      @media screen and (max-width: 425px) {
        font-size: 1.5em;
      }
    }
  }
}

ul.responses {
  @thumbnail-size: 128px;
  margin: @item-margin;
  padding-left: 0px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  min-height: @thumbnail-size;
  li > a {
    // Don't double the margin for the last child
    margin-right: @item-margin;
    display: flex;
    flex-direction: column;
    img {
      // Thumbnail sizes are fixed at 256px, but that's too big, so we only use half here
      width: @thumbnail-size;
      height: @thumbnail-size;
      align-self: center;
    }
    span {
      text-align: center;
      font-size: 1.25em;
    }
  }
}

section.loading {
  font-size: 1.25rem;
  min-height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.error-no-content {
  flex-grow: 1;
  display: none;
  &[data-show="true"] {
    display: flex;
  }
  margin: 10% 20%;
  color: @color-text;
  background-color: @color-bg;
  justify-content: center;
  h1 {
    font-size: 5em;
    @media screen and (max-width: 1024px) {
      font-size: 3em;
    }
    @media screen and (max-width: 425px) {
      font-size: 2em;
    }
    align-self: center;
    text-align: center;
  }
}

div.videoviewer {
  display: none;
  &[data-show="true"] {
    display: flex;
  }
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); // Fade the rest of the page
  justify-content: center;
  video {
    align-self: center;
    text-align: center;
    background-color: white; // When the video doesn't load
    max-width: 90%;
    max-height: 90%;
  }
}
