.user-select-any(@how) {
  -webkit-user-select: @how;
  -moz-user-select: @how;
  -ms-user-select: @how;
  user-select: @how;
}
.glow-shadow(@color, @size, @glow) {
  box-shadow: @color @size @size @glow, @color -@size -@size @glow;
}
