<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/account.css">
    {{>headComponent}}
  </head>
  <body>
    {{>navbarComponent}}
    
     <div class="container-fluid bg-1 text-center">

    </div>

  </body>
</html>