<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/account.css">
    {{>headComponent}}
  </head>
  <body>
    {{>navbarComponent}}
    <section class="navbar-extension">
      <div class="settings">
        <h1>{{profileText}}</h1>
        <span class="em-dash"></span>
        <a href="#" id="change-username">{{change}}</a>
        <br>
        <img src="/content/avatar/{{profileText}}">
        <div class="avatar-text-container">
          <span class="em-dash"></span>
          <a href="#" id="change-avatar">{{change}}</a>
        </div>
        <br>
        <p>{{accountCreatedOn}}{{accountCreationLocalDate}}</p>
      </div>
      <div class="user-videos">
        <span class="no-responses">{{noUserVideos}}</span>
        <ul class="responses"></ul>
        <a href="#" class="responses-more">{{more}}</a>
      </div>
    </section>
    <main class="content-container" data-error="false">
      
    </main>
    <div class="error-no-content" data-show="false">
      <h1>{{errorTexts.noContent}}</h1>
    </div>
    {{>videoviewerComponent}}
    <script src="/scripts/pageContent.js"></script>
    <script src="/scripts/account.js"></script>
  </body>
</html>
