<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/error.css">
    {{>headComponent}}
  </head>
  <body>
    {{>navbarComponent}}
    <h1>{{errorMessage}}</h1>
    <script src="/scripts/navbar.js"></script>
  </body>
</html>
