<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    {{>headComponent}}
  </head>
  <body>
    {{>navbarComponent}}
    <div class="container-fluid bg-1 text-center">
      <!-- FIXME add user friendly error message with i18n -->
    </div>
  </body>
</html>
