<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    {{>headComponent}}
  </head>
  <body>
    {{>navbarComponent}}
    
    <!-- FIXME indentation -->
    <div class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <!-- FIXME no html escape sequences -->
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <!-- FIXME placeholder id/text -->
        <h4 class="modal-title" id="gridSystemModalLabel">{{welcomeHeader}}</h4>
      </div>
      <div class="modal-body">
        <!-- FIXME placeholder id/text -->
        <div class="row">
        <div class="col-sm-offset-1 col-sm-10"<p>{{welcomeText}}</p>
        </div>
        
        
        
      </div>
      <div class="modal-footer">
        <div class="row">
        <button type="button" class="btn btn-default col-sm-offset-1 col-sm-3" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary col-sm-4">Log In</button>
        <button type="button" class="btn btn-primary col-sm-3">Create an account</button>
          </div>
      </div>
    </div>
  </div>
</div>
    
    <div class="container-fluid bg-1 text-center">

    </div>
    <!-- FIXME inline script -->
    <script>$('.modal').modal('show');</script>
  </body>
</html>
