<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/index.css">
    {{>headComponent}}
  </head>
  <body>
    {{>navbarComponent}}
    <aside class="sidebar">
      <a href="/challenge">{{newChallengeText}}</a>
    </aside>
    <main class="content-container" data-error="false">
      {{^isLoggedIn}}
      <section class="challenge">
        <header>{{welcomeHeader}}</header>
        <div class="content">{{welcomeText}}</div>
      </section>
      {{/isLoggedIn}}
    </main>
    <div class="error-no-content" data-show="false">
      <h1>{{errorTexts.noContent}}</h1>
    </div>
    {{>videoviewerComponent}}
    <script src="/scripts/page-content.js"></script>
    <script src="/scripts/index.js"></script>
  </body>
</html>
