<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/login.css">
    {{>headComponent}}
  </head>
  <body>
    {{>navbarComponent}}
    <div id="auth-container">
      <form action="/login" method="POST" class="auth-side">
        <header>{{loginFormTitle}}</header>
        <div class="input-field">
          <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
          <input type="text" name="email" placeholder="{{emailPlaceholder}}">
        </div>
        <div class="input-field">
          <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
          <input type="password" name="password" placeholder="{{passwordPlaceholder}}">
        </div>
        <button type="submit">{{loginFormSubmit}}</button>
      </form>
      <form action="/register" method="POST" class="auth-side">
        <header>{{registerFormTitle}}</header>
        <div class="input-field">
          <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
          <input type="text" name="email" placeholder="{{emailPlaceholder}}">
        </div>
        <div class="input-field">
          <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
          <input type="text" name="username" placeholder="{{usernamePlaceholder}}">
        </div>
        <div class="input-field">
          <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
          <input type="password" name="password" placeholder="{{passwordPlaceholder}}">
        </div>
        <div class="input-field">
          <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
          <input type="password" id="confirm-password" placeholder="{{passwordConfirmPlaceholder}}">
        </div>
        <div class="error-popup"></div>
        <button type="submit">{{registerFormSubmit}}</button>
      </form>
    </div>
    <script src="/scripts/login.js"></script>
  </body>
</html>
