<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    {{>headComponent}}
    <link rel="stylesheet" href="/stylesheets/login.css">
  </head>
  <body>
    {{>navbarComponent}}
    <!-- FIXME form ids, label names, form methods, i18n for labels/inputs/text -->
    <div class="container-fluid text-center">
      <div class="row">
        <br>
        <div class="col-md-2"></div>
          <form action="/login" class="log-in-form col-md-3">
            <br>
            <div class="log-in-title">Log In</div>
              <br>
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></span>
                <input type="text" class="form-control" placeholder="Your Email Adress" aria-describedby="basic-addon1">
              </div>
              <br>
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></span>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Your Password">
              </div>
              <br>
              <button type="submit" class="btn btn-info">Log in</button>
              <br>
            </form>
            <br>
            <div class="col-md-2"></div>
            <form action="/register" method="POST" class="col-md-3">
              <div class="register-title">Register</div>
              <br>
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></span>
                <input type="text" name="email" class="form-control" placeholder="Your Email Adress" aria-describedby="basic-addon1">
              </div>
              <br>
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></span>
                <input type="text" name="username" class="form-control" placeholder="Your Username" aria-describedby="basic-addon1">
              </div>
              <br>
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></span>
                <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Your Password">
              </div>
              <br>
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></span>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Confirm Your Password">
              </div>
              <br>
              <button type="submit" class="btn btn-info">Register</button>
            </form>
            <div class="col-md-2"></div>
        </div>
    </div>
  </body>
</html>
