<section class="challenge">
  <header>{{challengeTitle}}</header>
  <div class="content">{{challengeDesc}}</div>
  <div class="responses-container">
    {{^challengeResponses}}
      <span class="no-responses">{{noResponses}}</span>
    {{/challengeResponses}}
    <ul class="responses">
      {{#challengeResponses}}
        <li><a href="#">
          <img src="/content/thumbnail/{{videoId}}">
          <span>{{videoTitle}}</span>
        </a></li>
      {{/challengeResponses}}
    </ul>
    {{#challengeResponses}}
      <a href="#" class="responses-more" data-challenge-name="{{challengeTitleEncoded}}">{{more}}</a>
    {{/challengeResponses}}
  </div>
  <footer>
    <img class="avatar" src="/content/avatar/{{challengeAuthorName}}">
    <a href="/user/{{challengeAuthorName}}" class="author">{{challengeAuthorName}}</a>
    <a href="/response?to={{challengeTitleEncoded}}" class="reply">{{reply}}</a>
  </footer>
</section>
