<section class="challenge" data-challenge-name="{{challengeTitleEncoded}}">
  <header>{{challengeTitle}}</header>
  <div class="content">{{challengeDesc}}</div>
  <div class="responses-container">
    <span class="no-responses">{{noResponses}}</span>
    <ul class="responses"></ul>
    <a href="#" class="responses-more">{{more}}</a>
  </div>
  <div class="vote-container">
    <span class="vote-count">{{challengeVoteCount}}</span>
    <a href="{{^isLoggedIn}}/login{{/isLoggedIn}}#" class="upvote material-icons">thumb_up</a>
    <a href="{{^isLoggedIn}}/login{{/isLoggedIn}}#" class="downvote material-icons">thumb_down</a>
  </div>
  <footer>
    <img class="avatar" src="/content/avatar/{{challengeAuthorName}}">
    <a href="/user/{{challengeAuthorName}}" class="author">{{challengeAuthorName}}</a>
    <a href="/response?to={{challengeTitleEncoded}}" class="reply">{{reply}}</a>
  </footer>
</section>
