<section class="challenge">
  <header>{{challengeTitle}}</header>
  <div class="content">{{challengeDesc}}</div>
  <footer>
    <img class="avatar" src="/content/avatar/{{challengeAuthorName}}">
    <a href="/user/{{challengeAuthorName}}" class="author">{{challengeAuthorName}}</a>
  </footer>
</section>
