<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<link rel="stylesheet" href="/stylesheets/global.css">
<link rel="icon" href="/images/logo.png" type="image/png">
<script src="/scripts/jquery.min.js"></script>
<script src="/scripts/animate.min.css"></script>
{{#clientJSON}}
  <script>window.i18n = {{{clientJSON}}}</script>
{{/clientJSON}}
