<nav id="navbar" data-loggedin="{{isLoggedIn}}" data-username="{{usernameData}}">
  <a href="/" class="left">
    <img id="logo" src="/images/logo.png">
    <header>{{title}}</header>
  </a>
  <a href="{{profileUrl}}" class="right">{{profileText}}</a>
  <form action="/search" method="POST">
    <input name="query" type="text" placeholder="{{searchPlaceholder}}" value="{{searchTerm}}">
    <button type="submit">
      <span class="material-icons" aria-hidden="true">search</span>
    </button>
  </form>
</nav>
