<nav id="navbar" data-loggedin="{{isLoggedIn}}" data-username="{{usernameData}}">
  <a href="/" class="left">
    <img id="logo" src="/images/logo.png" class="animated rubberBand">
    <header>{{title}}</header>
  </a>

  <i class="open-btn material-icons">view_headline</i>
  <div class="overlay">
    <i class="close-btn material-icons">close</i>
    <div class="overlay-content">
      <a href="/">{{homepageText}}</a>
      <a href="{{profileUrl}}">{{profileText}}</a>
      <a href="/challenge">{{newChallengeText}}</a>
    </div>
  </div>

  <form action="/search" method="POST">
    <input name="query" type="text" placeholder="{{searchPlaceholder}}" value="{{searchTerm}}">
    <button type="submit">
      <span class="material-icons">search</span>
    </button>
  </form>
</nav>
