<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
        <!-- FIXME redundant elements -->
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <!-- FIXME inline styles -->
      <a href="/"><img class="logo" src="/images/logo.png" style="width:50px;height:50px;"></a> 
    </div>
    
    <form class="navbar-form navbar-left col-sm-6">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search for...">
      </div>
      <button type="submit" class="btn btn-default">
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
      </button>
    </form>
      
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/login">{{account}}</a></li>
      </ul>
    </div>
  </div>
</nav>
