@import "color.less";
@import "page-content.less";

div.account-container {
  display: flex;
  flex-direction: row-reverse;
  @media screen and (max-width: 1024px) {
    flex-direction: column;
  }
  flex-grow: 1;
  div.error-no-content {
    font-size: 0.75em;
    @media screen and (max-width: 1440px) {
      margin: 10%;
    }
  }
  section.settings {
    @media screen and (min-width: 1024px) {
      min-width: 400px;
    }
    flex-grow: 1;
  }
  main.content-container {
    // The account page has a narrower space for content, so the padding must be reduced as well
    padding-left: 10%;
    padding-right: 10%;
  }
}
