@import "color.less";
@import "properties.less";

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/MaterialIcons-Regular.eot'); // For IE6-8
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url('/fonts/MaterialIcons-Regular.woff2') format('woff2'),
       url('/fonts/MaterialIcons-Regular.woff') format('woff'),
       url('/fonts/MaterialIcons-Regular.ttf') format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px; // Preferred icon size
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  // Support for all WebKit browsers
  -webkit-font-smoothing: antialiased;
  // Support for Safari and Chrome
  text-rendering: optimizeLegibility;
  // Support for Firefox
  -moz-osx-font-smoothing: grayscale;
  // Support for IE
  font-feature-settings: 'liga';
}

html {
  height: 100%;
}

body {
  background-image: url("/images/default-bg.jpg");
  background-size: cover;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
}

button {
  cursor: pointer;
  display: block;
  color: @color-text;
  font-size: @input-element-font-size;
  padding: @input-element-padding;
  .user-select-any(none);
  .input-border;
  .input-focus-action(@color-accent);
  &[type="submit"] {
    background-color: @color-accent;
    border-color: @color-accent;
    .input-focus-action(@color-shade);
    transition: box-shadow 0.2s;
    &:hover {
      .glow-shadow(@color-shade, 1px, 5px);
      transition: box-shadow 0.2s;
    }
  }
}

input, textarea {
  display: block;
  background-color: @color-text;
  color: @color-grey-text;
  font-size: @input-element-font-size;
  padding: @input-element-padding;
  .input-border;
  .input-focus-action(@color-accent);
}

a {
  color: @color-text;
  text-decoration: none;
  &:hover, &:focus {
    color: @color-accent;
  }
}

#navbar {
  padding: @navbar-padding;
  height: @navbar-content-height;
  @media screen and (max-width: 767px) {
    // The search box overflows, so let the height figure itself out
    height: auto;
  }
  letter-spacing: 1px;
  font-size: 1.5em;
  background-color: @color-bg;

  header {
    color: @color-text;
    display: inline;
    @media screen and (max-width: 425px) {
      // Takes up too much space on small mobile screens
      display: none;
    }
    margin-left: 10px;
  }

  #logo {
    width: 50px;
    height: @navbar-content-height;
    border-radius: 100%;
  }

  a {
    display: flex;
    height: @navbar-content-height;
    line-height: @navbar-content-height;
    &.right {
      float: right;
    }
    &.left {
      float: left;
    }
  }

  form {
    display: flex;
    flex-wrap: nowrap;
    height: @navbar-content-height;

    @media screen and (max-width: 767px) {
      padding: 0;
      // Push searchbar on next line
      margin-top: @navbar-padding + @navbar-content-height;
    }
    @media screen and (min-width: 768px) {
      float: left;
      padding: 0 @navbar-padding;
    }

    input {
      align-self: center;
      width: 100%;
    }

    button {
      padding: 0;
      // 4px is borders
      height: @input-element-padding + @input-element-font-size + @input-element-padding + 4px;
      width: 40px; // Arbitrary
      align-self: center;
      margin-left: 5px;
    }
  }
}
