// FIXME indentation, formatting
body {
      
      background-image: url("../images/Free-Tileable-Black-Wood-Textures-Patterns-For-3D-Mappin.jpg");
      background-repeat: repeat;
  }
  logo{
      position: relative;
      left: 20px;
      top: 2px;
  }
  p {font-size: 16px;}
  
 
  .container-fluid {
      padding-top: 70px;
      padding-bottom: 70px;
  }
  .navbar {
      padding-top: 15px;
      padding-bottom: 15px;
      border: 0;
      border-radius: 0;
      margin-bottom: 0;
      font-size: 15px;
      
      letter-spacing: 5px;
      background-color: rgba(0, 0, 0, 0.8);
  }
  
  .navbar-nav {
      color: black;
  }
  .navbar-nav  li a:hover {
      color: #1abc9c !important;
  }
label {
    color:white;
    
}

.log-in-title{
    font-size: 30px;
    font-family: 'Passion One', cursive;
    color:white;
}
.register-title{
    font-size: 30px;
    font-family: 'Passion One', cursive;
    color:white;
}
