@import "color.less";
@import "properties.less";
@import "input.less";

body {
  background-image: url("/images/Free-Tileable-Black-Wood-Textures-Patterns-For-3D-Mappin.jpg") !important;
}

#auth-container {
  flex-grow: 1;
  margin-top: 5%;
  display: flex;
  @media screen and (max-width: 1200px) {
    flex-direction: column;
  }
  @media screen and (min-width: 1201px) {
    flex-direction: row;
  }
}

@input-field-height: 40px;

form.auth-side {
  padding: 0 10%;
  flex-grow: 1;
  flex-basis: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  position: relative;
  @child-margin: 10px;
  @header-size: 42px;
  @header-margin: 2 * @child-margin;
  header {
    font-size: @header-size;
    line-height: @header-size;
    @media screen and (max-width: 768px) {
      font-size: @header-size / 2;
    }
    margin-bottom: @header-margin;
    // FIXME font usage without @import
    font-family: 'Passion One', cursive;
    color: @color-text;
    white-space: nowrap;
  }
  button {
    background-color: @color-accent;
    border-color: @color-accent;
    color: @color-text;
    .input-focus-action(@color-shade);
    transition: box-shadow 0.2s;
    &:hover {
      .glow-shadow(@color-shade, 1px, 5px);
      transition: box-shadow 0.2s;
    }
    &.validation-error {
      background-color: @color-error;
      border-color: @color-error;
    }
  }
  .error-popup {
    // Start hidden
    opacity: 0;
    transition: opacity 0.2s;
    // Show up on error
    &[data-show="true"] {
      opacity: 1;
      transition: opacity 0.2s;
    }
    display: block;
    position: absolute;
    top: @header-size + @header-margin;
    right: 15px;
    width: 20%;
    font-size: 1em;
    @media screen and (max-width: 768px) {
      width: 30%;
      font-size: 0.75em;
    }
    @media screen and (max-width: 320px) {
      font-size: 0.6em;
    }
    @popup-height: 40px;
    height: @popup-height;
    line-height: @popup-height;
    background-color: @color-error;
    color: @color-text;
    white-space: nowrap;
    &::after {
      @media screen and (max-width: 320px) {
        display: none;
      }
      @triangle-size: 20px;
      display: block;
      position: relative;
      margin-top: -@triangle-size;
      top: -50%;
      left: -@triangle-size;
      content: ' ';
      width: 0;
      height: 0;
      border-top: @triangle-size solid transparent;
      border-bottom: @triangle-size solid transparent;
      border-right: @triangle-size solid @color-error;
    }
  }
  .error-popup.full {
    position: initial;
    width: 100%;
    &::after {
      display: none;
    }
  }
  & > * {
    // All direct children of a form should have some space under them
    margin-bottom: @child-margin;
  }
}

div.input-field {
  display: flex;
  height: @input-field-height;
  span.glyphicon {
    top: 0px;
    width: 50px;
    display: flex;
    height: inherit;
    color: @color-grey-text;
    background-color: @color-grey-bg;
    &:before {
      width: 100%;
      align-self: center;
    }
  }
  input {
    width: 100%;
  }
}
